.key {
  border: solid 1px black;
  display: inline-block;
  text-align: center;
  margin: 20px;
  transition: all 0.07s;
  height: 100px;
  width: 100px;
}

.pressed {
  transform: scale(1.1);
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

kbd {
  display: block;
}
